.projects {
	position: relative;
	width: 100%;
	padding-top: 15rem;
	padding-bottom: 10rem;
	margin: 0 auto;
	background-color: #84a98c;

	.section__title {
		border-bottom: 0.3rem solid #000;
		color: #000;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		height: 100%;
		width: 100%;
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		max-width: 45rem;
		height: 70rem;
		margin: 2rem 0;
		border: 0.2rem solid #354f52;
		border-radius: 0.5rem;
		color: #000;
		background-color: #cad2c5;

		&:hover {
			img {
				transform: scale(1.1);
			}
		}

		&-photo {
			width: 100%;
			height: 50%;
			overflow: hidden;
		}

		img {
			height: 35rem;
			width: 100%;
			transition: transform 0.5s;
		}

		&-heading {
			padding: 1.5rem 0 0.5rem;
			font-size: 2rem;
		}

		&-details {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-text {
				padding: 1rem;
				font-size: 1.3rem;
				text-align: justify;
			}

			&-links {
				display: flex;
				justify-content: space-around;
				width: 100%;
				padding: 2rem;
				font-size: 1.6rem;
			}

			&-link {
				padding: 1rem 2rem;
				color: #fff;
				background-color: #2f3e46;
				border: 1px solid #fff;
				border-radius: 1rem;
			}
		}
	}
}

@media screen and (min-width: 576px) {
	.projects {
		.section__title {
			font-size: 3.8rem;
		}
		&__card {
			&-heading {
				font-size: 2.4rem;
			}

			&-details-text {
				padding: 2rem;
				font-size: 1.6rem;
			}

			&-details-link {
				font-size: 2rem;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.projects {
		&__box {
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
		&__card {
			width: 45%;
			max-width: 45rem;
			margin: 2rem;

			&-photo {
				height: 40%;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.projects {
		&__card {
			width: 35%;
			max-width: 40rem;
		}
	}
}
