* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #2f3e46;
	height: 300vh;
}

.container {
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
}

.btn {
	position: relative;
	font-size: 2rem;
	padding: 1.5rem 3rem;
	border-radius: 0.5rem;
	margin: 2rem;
	background-color: #84a98c;
	cursor: pointer;
	border: none;
	outline: none;
	overflow: hidden;
	transition: .3s;
	border: 1px solid #fff;
}
.btn::before {
	content: '';
	position: absolute;
	top: -20%;
	left: -30%;
	height: 120%;
	width: 20%;
	transition:0.5s;
	transform: rotate(20deg);
	background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}
.btn:hover::before {
	left: 110%;
}

.btn:hover {
	transform: scale(1.1);
}

.section__title {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 200;
	text-align: center;
	color: #fff;
	border-bottom: 3px solid #84a98c;
}
