.about {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	&__photo {
		width: 100%;
		display: flex;
		justify-content: center;

		&--avatar {
			width: 20rem;
			margin-top: 14rem;
			border-radius: 50%;
		}
	}
	

	&__box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 6rem;
		color: #fff;
		order: 2;

		&-name {
			display: flex;
			align-items: center;
			text-align: center;
			padding: 2rem;
			font-size: 2.4rem;

			i {
				margin-right: 3rem;
				transition: transform 0.5s;
				transform-origin: 80% 50%;
				animation: hand-shaking 2s linear 2s infinite;
			}
		}

		&-title {
			position: relative;
			padding: 1rem;
			font-size: 2rem;
		}

		&-title::before,
		&-title::after {
			content: '';
			position: absolute;
			top: 50%;
			height: 0.2rem;
			width: 2rem;
			background-color: #fff;
			transform: translateY(-50%);
		}
		&-title::before {
			left: -7%;
		}
		&-title::after {
			right: -7%;
		}

		&-description {
			padding: 2rem;
			text-align: justify;
			font-size: 1.3rem;
			font-weight: 200;
		}

		&-technologies {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 70%;
			margin: 2rem 0;
			font-size: 1.6rem;
			text-transform: uppercase;
			font-weight: bold;

			.technologies-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				max-width: 25rem;
				padding: 1rem;
				margin: 2rem;
				border: 2px solid #fff;
				border-radius: 1rem;

				p {
					display: flex;
					padding: 1rem;
					font-size: 1.2rem;

					.icon {
						margin-right: 1rem;
						font-size: 2rem;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 300px) {
	.about {
		&__box-name {
			padding: 3rem 2rem;

			i {
				margin-left: 3rem;
				margin-right: 0;
			}
		}

		&__box-title::before,
		&__box-title::after {
			width: 4rem;
		}

		&__box-title::before {
			left: -20%;
		}
		&__box-title::after {
			right: -20%;
		}
	}
}

@media screen and (min-width: 576px) {
	.about {
		.section__title {
			font-size: 3.8rem;
		}

		&__photo {
			margin-top: 5rem;
		}

		&__box {
			&-name {
				font-size: 2.8rem;
			}

			&-title {
				font-size: 2.2rem;
			}

			&-description {
				padding: 2rem 3rem;
				font-size: 1.6rem;
			}

			&-technologies {
				width: 90%;
				flex-direction: row;
				justify-content: center;

				.technologies-container {
					p {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.about {
		&__photo--avatar {
			width: 25rem;
		}

		&__box {
			&-name {
				padding-top: 5rem;
			}

			&-description {
				padding: 3rem 5rem;
			}
		}

		.technologies-container {
			p {
				font-size: 1.6rem;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.about {
		&__box {
			&-name {
				font-size: 3rem;
			}
		}
	}
}

@keyframes hand-shaking {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(75deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
